{% extends 'base.html.twig' %}

{% block title %}Welcome to my Phenix Project website{% endblock %}

{% block body %}
<main class="container">
    <h1 class="mt-5">Phenix Project</h1>

</main>
{% endblock %}
